root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.player-marker-circle {
  width: 20px;
  height: 20px;
  background-color: red; /* Red color for the player marker */
  border-radius: 50%; /* Makes the marker circular */
  border: 0px solid white; /* Optional white border */
}

#controlPanel {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#arrowContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  place-items: center;
}
#sensor, #reset {
  margin-top: 10px;
}

#statusPanel {
  padding: 1rem;
}

#map {
  width: 40vw;
  height: 60vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c0c0c0;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f0f0f0;
    background-color: #242424;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #cfcfcf;
  }
}
